html {
    scroll-padding-top: 5rem;
}

body {
    background-image: linear-gradient(to top left, #1d6060 0%, #2c2655 100%);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

h1 {
    font-family: 'Arvo', serif;
    color: white;
}

section {
    padding-bottom: 80px;
}

a {
    text-decoration: none;
    color: #1d6060;
    font-weight: 700;
}

.arvo {
    font-family: 'Arvo', serif;
}

.background-mask-50 {
    background-color: rgba(0, 0, 0, 0.5);
}

.background-mask-30 {
    background-color: rgba(0, 0, 0, 0.3);
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}

.border-gradient-color {
    border-image-source: linear-gradient(to top left, #6bf2f2 0%, #90a2eb 100%);
}

.my-section-header {
    background-color: rgba(0, 0, 0, 0.53);
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
}

.btn-success {
    background-color: rgb(21, 66, 90);
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.btn-success:hover {
    background-color: rgb(58, 146, 160);
}

.btn-custom {
    background-color: rgba(21, 66, 90, 0);
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.btn-custom:hover {
    background-color: aliceblue;
}

.drop-shadow {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.navbar-toggler {
    margin-bottom: 7px;
    margin-top: 7px;
}

.navbar-brand {
    font-family: 'Bungee';
    color: white;
    opacity: 0.9;
}

.navbar-brand:hover {
    color: #c0caf4;
}

.navbar-nav li a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    float: right !important;
}

.navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: rgb(107, 162, 177, 1);
}

/* hero background image */
.bgimage {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/neuralnet-rainbow.jpeg');
    background-size: cover;
    position: relative;
}

.hero-desc {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.servicesIcon {
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

/* Card styling */
.card-title {
    text-align: center;
    font-size: 1.5rem;
}

.card-text {
    font-weight: 300;
}

.card {
    /* border-radius: 0 !important; */
    height: 100%;
    background-image: linear-gradient(to top left, #caf2f2 0%, #dfe5fa 100%);
}

.social-icons {
    font-size: 1rem;
}

.social-icons a {
    padding-left: 5px;
    padding-right: 5px;
}

.fa-github:hover,
.fa-twitter:hover,
.fa-linkedin:hover {
    color: rgb(107, 162, 177);
    cursor: pointer;
}

.fab {
    color: #ffffff;
    font-size: 36px;
}

/* footer styling */
#footer {
    background-color: #01060C;
    text-align: center;
    color: white;
    padding-top: 10px;
    width: 100% !important;
    position: absolute;
    background-color: black;
}

.contactMessage {
    font-weight: 300;
}

.copyright {
    padding-top: 10px;
    padding-bottom: 20px;
}

.copyright p {
    margin: 0;
    font-size: 14px;
}

.highlight {
    color: rgb(101, 156, 245)
}


/* Media queries  */
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        font-size: 1.1rem
    }

    .hero-desc {
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
    }
}