<section id="about">
    <div class="container mt-4 pt-4 text-white">
        <div class="dark-container shadow rounded-3 border-gradient border-gradient-color" data-aos="fade-up"
            data-aos-duration="1000">
            <div class="row mx-auto d-flex justify-content-center align-items-center rounded shadow">
                <div class="col-12 col-md-5 p-4 p-lg-5 d-flex justify-content-center">
                    <img src="images/sami-friedrich-neuroscientist-450.jpg" class="img-fluid shadow-lg"
                        alt="Portrait of Sami Friedrich holding a model neuron">
                </div>
                <div class="col-12 col-md-7 p-4 p-lg-5">
                    <div class="drop-shadow">
                        <p class="display-3 mb-3">Hi, I'm Sami.</p>
                        <p class="fs-3 fw-light">I thrive at the
                            intersection of science and technology. </p>
                        <p class="fs-5 fw-normal">
                            My specialty is discovering and communicating the stories that live within data,
                            science, and the natural world.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-12 col-md-5 m-4 p-4 background-mask-30 shadow" data-aos="fade-up" data-aos-duration="750">
                <p class="fs-2 text-center arvo drop-shadow">Education</p>
                <div class="fw-light">
                    <p>
                        I have over 10 years of research experience spanning neuroscience, molecular
                        biology,
                        genomics,
                        and transcriptomics.
                    <ul>
                        <li style="padding-bottom: 10px;"><span class="fw-medium">PhD in Behavioral
                                Neuroscience</span> from Oregon Health and
                            Science University</li>
                        <li><span class="fw-medium">BS in Neurobiology</span> from the University of Texas at
                            Austin
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-5 m-4 p-4 background-mask-30 shadow" data-aos="fade-up" data-aos-duration="750">
                <p class="fs-2 text-center arvo drop-shadow">Mission</p>
                <div class="fw-light">
                    <p class="mb-4">My earliest heroes were Ms. Frizzle and Bill Nye. Their enthusiasm
                        for the scientific method and
                        teaching are inextricably woven into the work I do. </p>
                    <p>I strongly believe science and information should be accessible,
                        so I
                        approach my work with the intention of simplifying complex ideas into engaging insights
                        and shared understanding.</p>
                </div>
            </div>
        </div>
        <div>
            <hr>
            <p class="mt-5 mx-auto text-center col-12 col-md-10 col-lg-8">
                Interested in learning more? Check out some of my guided workshops, recorded seminars,
                outreach
                materials, and coding projects below.
            </p>
        </div>
    </div>
</section>