<section id="contact">
    <div class="container mt-3 contactContent">
        <div class="my-section-header">
            <h1 class="text-center my-auto">Contact Me</h1>
        </div>
        <div class="text-center contactMessage m-4">
            <p class="text-white">Interested in working with me? I'd love to hear from you!</p>
        </div>
        <div class="row mt-4 justify-content-md-center">
            <div class="col-lg-6">
                <!-- form fields -->
                <form action="https://formspree.io/f/xrgjdkoq" method="POST">
                    <input type="text" name="name" class="form-control form-control-lg" placeholder="Your name">
                    <input type="email" name="email" class="form-control mt-3" placeholder="Your email">
                    <input type="text" name="subject" class="form-control mt-3" placeholder="Subject">
                    <div class="mb-3 mt-3">
                        <textarea class="form-control" rows="5" id="comment" name="message"
                            placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-custom mt-3">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>