<section id="publications">
    <div class="container mt-3">
        <h1 class="my-section-header text-center">Featured Publications</h1>

        <div class="card mt-4" data-aos="fade-up">
            <div class="row g-0">
                <div class="col-lg-3 d-block d-lg-flex justify-content-center bg-white text-center">
                    <a class="stretched-link"
                        href="https://www.cell.com/cell-reports/fulltext/S2211-1247(22)00961-5"><img
                            src="images/graphical-abstract.jpg" class="img-fluid rounded-start"
                            alt="Graphical abstract outlining Sami's dissertation project"></a>
                </div>
                <div class="col-12 col-lg-9 my-auto">
                    <div class="card-body">
                        <h5 class="fs-4">Emergence of sex-specific transcriptomes in a sexually dimorphic brain
                            nucleus</h5>
                        <p class="card-text">My dissertation work demonstrating that male and female zebra
                            finches express unique sets of
                            genes during the development of a key song region in the brain.</p>
                        <p class="card-text"><small class="text-muted">SR Friedrich, AA Nevue, ALP Andrade, TAF
                                Velho, CV Mello. 2022. Aug 2;40(5):111152.</small></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mt-4" data-aos="fade-up">
            <div class="row g-0">
                <div class="col-lg-3 d-block text-center d-lg-flex justify-content-center bg-white">
                    <a class="stretched-link"
                        href="https://www.taylorfrancis.com/chapters/edit/10.1201/9780429019517-22/behavioral-biology-zebra-finch-samantha-friedrich-claudio-mello"><img
                            src="images/behavioral-biology-lab-animals.jpeg" class="img-fluid rounded-start"
                            style="height: 200px;" alt="Book cover for Behavioral Biology of Laboratory Animals"></a>
                </div>
                <div class="col-12 col-lg-9 my-auto">
                    <div class="card-body">
                        <h5 class="fs-4">Chapter 20: Behavioral Biology of the Zebra Finch</h5>
                        <p class="card-text">An animal care-oriented text on zebra finch behavior in
                            the wild
                            versus
                            captivity, and how best to support their natural behaviors in research settings.
                        </p>
                        <p class="card-text"><small class="text-muted">Friedrich SR &amp; CV Mello. Behavioral
                                Biology of Laboratory Animals. CRC Press. 2021. ISBN 9780367029234.</small></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mt-4" data-aos="fade-up">
            <div class="row g-0">
                <div class="col-lg-3 d-block text-center d-lg-flex justify-content-center bg-white">
                    <a class="stretched-link"
                        href="https://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-019-5871-2"><img
                            src="images/ion-channel-brain-gene-expression-200.jpg" class="img-fluid rounded-start"
                            alt="Microscopy showing gene expression in songbird brain"></a>
                </div>
                <div class="col-12 col-lg-9 my-auto">
                    <div class="card-body">
                        <h5 class="fs-4">Exploring the molecular basis of neuronal excitability in a vocal
                            learner</h5>
                        <p class="card-text">A detailed analysis of genomics and brain gene expression patterns
                            for sodium, calcium, and chloride ion channels in the zebra finch.</p>
                        <p class="card-text"><small class="text-muted">Friedrich SR, Lovell PV, Kaser TM, Mello
                                CV. BMC Genomics. 2019 Aug 2; 20(1): 629.</small></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mt-4" data-aos="fade-up">
            <div class=" row g-0">
                <div class="col-lg-3 d-block text-center d-lg-flex justify-content-center">
                    <a class="stretched-link"
                        href="https://scholar.google.com/citations?hl=en&user=ZZ-1asgAAAAJ&view_op=list_works"><img
                            src="images/google-scholar.png" class="img-fluid rounded-start" style="height: 100px;"
                            alt="Google Scholar logo"></a>
                </div>
                <div class="col-12 col-lg-9 d-flex align-items-center">
                    <div class="card-body">
                        <h5 class="fs-3">Find more of my publications on
                            <a href="" class="fs-3">Google Scholar</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>