<section id="skills">
    <div class="container text-center">
        <div class="my-section-header">
            <h1 class="my-auto">Skills</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card servicesText" data-aos="flip-left">
                    <div class="card-body">
                        <i class="servicesIcon fa-solid fa-chart-line"></i>
                        <h4 class="card-title mt-3">Data science</h4>
                        <p class="card-text mt-3">
                            Every dataset has a story to tell. I have firsthand experience with every stage of
                            the
                            data life cycle - from collection, to cleaning, to analysis, to visualization, and
                            synthesis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card servicesText" data-aos="flip-left">
                    <div class="card-body">
                        <i class="servicesIcon fa-solid fa-sitemap"></i>
                        <h4 class="card-title mt-3">Problem solving</h4>
                        <p class="card-text mt-3">Transforming loosely defined goals or questions into concrete,
                            actionable tasks is one of the most valuable skills I've honed as a researcher and
                            programmer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card servicesText" data-aos="flip-left">
                    <div class="card-body">
                        <i class="servicesIcon fa-solid fa-laptop-code"></i>
                        <h4 class="card-title mt-3">Coding</h4>
                        <p class="card-text mt-3">Python and R are my playground. Addressing scientific
                            questions,
                            automating repetitive tasks, and building web apps are just a few of the ways I find
                            joy
                            in programming.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card servicesText" data-aos="flip-left">
                    <div class="card-body">
                        <i class="servicesIcon fa-solid fa-person-chalkboard"></i>
                        <h4 class="card-title mt-3">Presenting</h4>
                        <p class="card-text mt-3">I deliver information-rich presentations with a strong
                            intuition
                            for audience-specific communication. I convey ideas clearly with effective speech
                            and
                            visual content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card servicesText" data-aos="flip-left">
                    <div class="card-body">
                        <i class="servicesIcon fa-solid fa-file-lines"></i>
                        <h4 class="card-title mt-3">Writing</h4>
                        <p class="card-text mt-3">Whether it's writing grants, <a
                                href="https://scholar.google.com/citations?user=ZZ-1asgAAAAJ&hl=en&oi=sra">peer-reviewed
                                publications</a>, or sensitive emails, I lead with key points and optimize
                            structure
                            for clarity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card servicesText" data-aos="flip-left">
                    <div class="card-body">
                        <i class="servicesIcon fa-solid fa-chalkboard-user"></i>
                        <h4 class="card-title mt-3">Teaching</h4>
                        <p class="card-text mt-3">I have led technical workshops, designed curriculums for
                            courses
                            and outreach programs, and mentored grade school through college students.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>